/* Model.css */

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&display=swap');
:root {
  --background-color-card: #1e3e5d;
  --hover-color-card: #2a5075;
  --text-color-primary: #e7e7e7;
  --text-color-secondary: #61dafb;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
  margin: 0;
  background: #0a1215;
  font-family: 'Kodchasan', sans-serif;
}

.model-page {
  text-align: left;
  padding: 1rem;
  color: #ffffff;
  font-family: 'Kodchasan', sans-serif;
  zoom: 100%;
  display: flex;
  flex-direction: column;
}
.main-header {
  all: initial;
  padding-left: 10px;
  margin-top: 80px;
  margin-left: 250px;
  font-weight: bolder; 
  font-size: 4rem; 
  background: linear-gradient(to right, rgb(2, 247, 255), rgb(8, 104, 178), rgb(52, 52, 90));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left; 
}


input, button {
  padding: 0.75rem;
  margin-right: 1550px;
  margin-left: 0;
  border: none; 
  border-radius: 1.5rem; 
  background-color: #090c0ebb; 
  color: #ffffff; 
  font-size: 1.5rem;
  outline: none; 
  width: 100%;
  max-width: 30rem;
  box-shadow: 0 4px 8px rgba(242, 242, 242, 0.102); 
  transition: all 0.3s ease; 
}

input:focus, button:focus {
  box-shadow: 0 0 0 2pt #61dafb; 
}

input::placeholder {
  color: #b1c4d1; 
}

.suggestions-list {
  position: absolute;
  width: 30rem; 
  top: 3.0rem; 
  left: 41.7%;
  transform: translateX(-50%); 
  background: #283031;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
  list-style-type: none; 
  padding-left: 0; 
}

.suggestions-list li {
  padding: 0.75rem;
  transition: background-color 0.2s;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #4ea0d3; 
}

.suggestions-list li:nth-child(odd) {
  background-color: #000000;
}

.suggestions-list li:last-child {
  border-bottom: none;
}
.model-page table {
  margin-left: 450px;
  margin-top: 2rem;
  border-collapse: collapse;
  color: #fff; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
  border-radius: 20px; 
  overflow: hidden; 
  background: transparent; 
  justify-content: center;
}
.model-page th {
  color: #ffffff;
  padding: 15px; 
  text-align: center;
  font-weight: normal; 
  background-color: #09151e; 
  font-size: 1.15rem; 
  letter-spacing: 0.05em;
  justify-content: center;
}
.model-page td {
  background-color: #24364d; 
  color: #a4f5fa; 
  padding: 0px; 
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem; 
  justify-content: center;
}

.model-page tbody tr:nth-child(odd) {
  background-color: #0d1f2a; 
}
.model-page tbody tr:nth-child(even) {
  background-color: #102533; 
}

.player-name-container h2, .player-info h2 {
  margin: 0;
  padding: 0.5rem 0;
  justify-content: left;
}

.chart-container {
  margin-left: 450px;
  margin-top: 30px; 
  margin-bottom: 50px;
  border: 3px solid #81f4ff; 
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.665); 
  padding: 10px;
  border-radius: 25px; 
}

.player-info h2 {
  font-size: 4rem; 
  margin-top: 4.5rem; 
  background: linear-gradient(to right, rgb(0, 247, 255), rgb(57, 141, 204), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 450px;
}

.model-page .top-player:hover {
  transform: scale(1.05);
}

.top-players-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 1rem; 
  margin-bottom: 2rem; 
  margin-top: 2rem;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s;
  color: rgb(91, 244, 255);
  width: 1700px;
  margin-left: 250px;
}

.top-players-year {
  background: #131b22; 
  padding: 0rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.top-player {
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: 1px solid #555; 
  box-shadow: 0 4px 8px rgb(0, 215, 253); 
  margin: .8rem; 
  justify-content: center; 
  align-items: center; 
  padding: 5px;
  background: #1e3e5d;
  color: #e7e7e7;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  font-size: 1.5rem;
}

.top-player:hover {
  background-color: var(--hover-color-card);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px); 
}

@media (max-width: 768px) {
  .model-page .top-players-container {
    flex-direction: column;
    align-items: center;
  }
  .model-page .top-player {
    width: 100%; 
    margin-bottom: 1rem;
  }
}

.hide-top-players {
  display: none;
}

.back-button {
  margin-top: 85px;
  background-color: #171045; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 6rem;
  font-size: 20px;
  position: absolute; 
  left: 0px;
  top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #e2e2e2;
}

.player-chart {
  margin-right: 400px;
}