.success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(30, 100, 103);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
  }
  .sign-out-button {
    width: 125px;
    background-color: #7b1818;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem; 
    font-size: 1rem; 
    font-family: 'Nunito', sans-serif; 
    border-radius: 30px; 
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    position: absolute;
    right:    0;
    bottom:   0;
  }
  .sleeper-button:hover {
    background-color: var(--button-bg-hover-color);
  }

  .profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .change-password-modal-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 70%;
    border-radius: 50px;
  }
  
  .change-password-button:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
  }
  

.search-bar-container {
  background-color: rgba(50, 50, 50, 0.8); /* Dark gray opaque background */
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-bar {
  border-radius: 20px;
  font-size: 20px;
  margin-left: 550px;
  padding: 10px;
}


.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.profile-picture {
  width: 150px; /* Adjust size as needed */
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  width: 50%; /* Adjust the width as per your need, currently set to 60% */
  max-width: 700px; /* You can also set a max-width */
  padding: 20px;
  background-color: #4f6174;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.profile-background {
  margin-right: 25px; /* Ensure space between the picture and the details */
}
.user-info {
  display: flex;
  justify-content: space-between; /* Spread out items */
  width: 100%; /* Take the full width of the parent */
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}
.username {
  margin-top: 10px;
}


.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 80px;
  width: 100%;
  padding: 20px;
  background-color: #657c95;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.header-title {
  font-size: 28px;
  color: #ffffff;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 15px;
}
  
.headers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.user-details {
  background: #fff; /* Add background similar to leagues and shares */
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user-details h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;

}

.user-details p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.user-details h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.leagues-container,
.shares-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  background-color: #4f6174;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background: linear-gradient(to top left, rgba(70, 98, 180, 0.969) 10%, rgb(10, 18, 31) 100%);
}


/* Add a placeholder for the profile picture if no image is provided */
.user-profile-container::before {
  content: 'Profile Picture Here';
  display: block;
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  margin-bottom: 20px;
}

/* Remove this placeholder when an image is present */
.user-profile-container img.profile-picture + & {
  display: none;
}

  
  
  .profile-content {
    flex-grow: 1;
    /* Other styles */
  }

  .default-profile-picture {
    display: block;
    margin-left: 200px;
  }


  .TableWrapper {
    overflow-x: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
}

  
  .Table {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #3a7099; 
    table-layout: auto;
    margin: 0 auto; 
    opacity: 1.5;
    transition: all 0.7s ease;
    white-space: nowrap;
    scroll-behavior: smooth;
    display: table;
    text-align: left;
    line-height: 20px;
    margin: 10px; 
    width: 100%;
    flex: 1 1 auto; 
    width: 100%; /* Full width */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff; /* Background color for the table */
    color: #333; /* Text color */
    overflow: hidden; /* Ensures the content fits in the cells */
    cursor: pointer;
    border-radius: 8px;
  }   

  
  th, td {
    padding: 12px 15px;
    text-align: left;
    overflow: hidden;
    font-size: 1.0em; 
    text-overflow: ellipsis;
    font-weight: bold; 
    white-space: nowrap; 
  }
  
  th {
    background-color: #4b4b4b; /* Fallback color */
    color: white;
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid #e0e0e0; /* Border color for header */
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Zebra striping for rows */
  }
  
  tr:hover {
    background-color: #ddd;
    cursor: pointer;
  }