.owner-dropdown {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.my-profile-button {
  text-align: left;
  padding: 10 20;
  margin-right: 80px;
}

.left-panel {
  height: auto;
  width: 300px; /* Adjust the width as necessary */
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  margin-right: 5px;
  /* Rest of your styles */
}
.left-panel-header {
  color: rgb(59, 209, 255);
  font-size: 2.2em;
  font-family: 'Segoe UI';
  display: flex;
  margin-left: 10px;
}

.page-container {
  margin-left: 0px; /* Adjust this value to match the new width of the .left-panel *//* This will take the remaining space */
  min-height: 100vh;
  padding-right: 0; /* Ensure no padding to the right */
  flex-grow: 1;
  width: 100%;
  max-width: 2000px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  background-color: #212f35; 
}

.Table {
  margin-left: 0;
  margin-right: auto;
  width: auto;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1.4em;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  border-spacing: 0;
  overflow-x: auto; 
  box-shadow: 0px 0px 100px rgb(105, 200, 255);
  padding: 8px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  line-height: 50px;
  table-layout: fixed;
  empty-cells: show;
  background-image: url('logo.svg');
  opacity: 1.1;
  transition: all 0.3s ease;
  white-space: nowrap;
  scroll-behavior: smooth;
  display: table;
  text-align: left;
}

.Table td {
  font-size:24px;
  margin: 0px;
  text-align: left;
}

.Table th {
  color: rgb(121, 210, 237);
  line-height: 1.75;
}
.Table tr:nth-child(even) {
  background-color: #d6d6d6;
  color: rgb(0, 0, 0);
}

.Table tr:hover {
  background-color: #aaede6f7; /* Subtle hover effect */
}

@media (max-width: 768px) {
  .table th, .table td {
    padding: 10px; /* Slightly less padding on smaller screens */
    font-size: 1em; /* Smaller font size on smaller screens */
  }
}
.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin: 0px;
}

.controls-container {
  width: 100%; 
  background-color: #28373d;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.owner-dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
}

.container {
  display: flex;
  height: 100vh; /* Adjust if you want a different height */
}

.username-header {
  text-align: center;
  color: #ffffff; /* Keep your preferred text color */
  font-size: 2.2em;
  margin: 0px 0;
  font-weight: bold;
  padding: 15px; /* Adjust padding as needed */
  background-color: #333bd5; /* This is just an example color, choose what fits your design */
  display: inline-block; /* This will make the background only as wide as the content */
  border-radius: 10px; /* Optional: if you want rounded corners */
}


.back-button {
  background-color: #f44336; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.change-owner-label {
  margin-right: 5px;
  font-weight: bold;
  color: #fff; /* White color for the text */
  font-size: 1.5em;
  font-weight: bold;
}

.owner-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-button {
  background-color: #4f6675; /* Green color for new button */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 16px;
}

.league-title {
  text-align: center;
  color: #ffffff;
  padding: 100px; /* Adjust padding as necessary */
  border-radius: 5px;
  background: none; /* No background */
  border: none; /* No border */
  box-shadow: none; /* Remove box shadow */
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px auto; 
  max-width: fit-content;
}

.roster-section {
  padding: 0 50px;
}

.title-roster {
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  color: #61dafb;
  text-shadow: 2px 2px 4px #000000;
  padding: 50px; /* Add padding */
  background: none; /* No background */
  border: none; /* No border */
  box-shadow: none; /* Remove box shadow */
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 500px;
}


/* This will ensure that headers adjust their size based on the width of the viewport */
.starters, .sharers, .bench, .ir, .taxi {
  font-size: 3.0; /* Adjust the font size as needed */
  border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  width: 12%;
  text-align: center;
}

.winner-username {
  text-align: center;
  color: #9baaf5;
  padding: 40px;
  border-radius: 5px;
  margin: 20px 500px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px auto; 
  max-width: fit-content;
}


@media (max-width: 768px) {
  .table {
    font-size: 14px; /* Smaller font size on smaller screens */
  }
  .controls-container,
  .roster-section {
    padding: 10px; /* Less padding on smaller screens */
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 2em;
  font-weight: bold;
  color: #29d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  animation: pulse 1s infinite ease-in-out;
}

.winner-info {
  display: inline-block;
  text-align: center;
}

.year {
  color: #9baaf5;
  font-weight: bold;
  font-size: 1.5em;
}

.champ {
  color: #9baaf5;
  font-weight: bold;
  font-size: 1.5em;
}

.winner-username {
  color: #FF5733; /* Change this to the desired color for the winner's username */
  font-weight: bold;
  font-size: 1.8em; /* Increase the font size for prominence */
  text-transform: uppercase; /* Convert text to uppercase for all caps */
  animation: pulse 2s infinite; /* Add a pulsing animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


.roster-container {
  display: flex; /* This will lay out children side by side */
  justify-content: space-between; /* This will add space between the two tables */
}

/* Additional responsive design to handle smaller screens */
@media (max-width: 768px) {
  .roster-container {
    flex-direction: column; /* Stack the tables on smaller screens */
  }
}
.left-roster-section {
  width: 100%;
}

.right-roster-section {
width: 100%;
margin-right: 50px;
}

