.owner-dropdown {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 2em;
}

.my-profile-button {
  text-align: center;
  padding: 10 20;
  margin-right: 0px;
  font-size: 2em;
}

.left-panel {
  height: auto;
  width: 300px; /* Adjust the width as necessary */
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  height: 100%;
  margin-right: 5px;
  /* Rest of your styles */
}
.left-panel-header {
  color: rgb(59, 209, 255);
  font-size: 2.2em;
  font-family: 'Segoe UI';
  text-align: center;
}

.page-container {
  margin-left: 0px; /* Adjust this value to match the new width of the .left-panel *//* This will take the remaining space */
  min-height: 100vh;
  padding-right: 0; /* Ensure no padding to the right */
  flex-grow: 1;
  width: 100%;
  max-width: 2000px;
  box-shadow: 0 0 10px rgb(255, 255, 255); 
  background-color: #212f35; 
}

.Table {
  margin-left: 0;
  margin-right: auto;
  width: auto;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1.4em;
  border: 1px solid #000000;
  border-radius: 1rem;
  border-spacing: 0;
  overflow-x: auto; 
  box-shadow: 0px 0px 100px rgb(105, 200, 255);
  padding: 8px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  line-height: 30px;
  table-layout: fixed;
  empty-cells: show;
  background-image: url('logo.svg');
  opacity: 1.5;
  transition: all 0.7s ease;
  white-space: nowrap;
  scroll-behavior: smooth;
  display: table;
  text-align: left;
}

.Table td {
  font-size:30px;
  margin: 0px;
  text-align: left;
  cursor: pointer;
}

.Table th {
  color: rgb(121, 210, 237);
  line-height: 1.75;
}
.Table tr:nth-child(even) {
  background-color: #b8d3dd;
  color: rgb(0, 0, 0);
}

.Table tr:hover {
  background-color: #68d0c6f7; 
}

@media (max-width: 768px) {
  .table th, .table td {
    padding: 10px; 
    font-size: 1em; 
  }
}
.icon {
  width: 1.6em;
  height: 1.6em;
  vertical-align: middle;
  margin: 0px;
  margin-right: 20px;
  border-radius:30px;
}

.controls-container {
  width: 100%; 
  background-color: #28373d;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.owner-dropdown {
  padding: 15px;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 20px;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
}

.username-header {
  text-align: auto;
  color: #4aedff; 
  font-size: 2.0em;
  margin: 0px 0;
  font-weight: bold;
  padding: 10px; 
  background-color: #102637; 
  display: inline-block; 
  border-radius: 10px; 
  text-transform: uppercase; 
}

.back-button {
  background-color: #ff0000; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  margin-right: 50px;
}

.change-owner-label {
  margin-right: 5px;
  font-weight: bold;
  color: #ffffff; /* White color for the text */
  font-size: 2em;
  font-weight: bold;
}

.owner-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-button {
  background-color: #327b82; /* Green color for new button */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 24px;
}

.roster-section {
  padding: 0 50px;
}

.title-roster {
  font-size: 7rem;
  font-weight: bold;
  font-style: italic;
  color: #61dafb;
  text-shadow: 2px 2px 4px #000000;
  padding: 50px; 
  background: none; 
  border: none; 
  box-shadow: none; 
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 500px;
}

.starters, .sharers, .bench, .ir, .taxi {
  font-size: 3em; 
  border-radius: 5px;
  font-weight: bold;
  color: #000000;
  background-color: transparent;
  width: 10%;
  text-align: center;
}

.winner-username {
  text-align: center;
  color: #9baaf5;
  padding: 40px;
  border-radius: 5px;
  margin: 20px 500px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px auto; 
  max-width: fit-content;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 2em;
  font-weight: bold;
  color: #29d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  animation: pulse 1s infinite ease-in-out;
}

.winner-info {
  display: inline-block;
  text-align: center;
}

.year {
  color: #9baaf5;
  font-weight: bold;
  font-size: 2em;
}

.champ {
  color: #9baaf5;
  font-weight: bold;
  font-size: 2.0em;
}

.winner-username {
  color: #FF5733; 
  font-weight: bold;
  font-size: 2em; 
  text-transform: uppercase; 
  animation: pulse 2s infinite;
}

@media (max-width: 768px) {
  .roster-container {
    flex-direction: column;
  }
}
.left-roster-section {
  width: 100%;
  margin-left: 200px;
}

.right-roster-section {
width: 100%;
margin-right: 200px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(52, 94, 163);
  padding: 20px;
  border-radius: 5px;
  width: 20%;
}
.left-container {
  background-color: #83a4cc; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgb(0, 34, 255); 
  margin: 10px; 
}
.right-container {
  background-color: #83a4cc; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgb(0, 17, 255); 
  margin: 10px;
}

.roster-container {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}
