.username-form {
    position: relative; 
    z-index: 1000; 
    padding: 20px;
    background: rgba(6, 25, 48, 0.8);
    border-radius: 10px;
    display: block;
    flex-direction: column;
    box-shadow: var(--panel-shadow);
    width: auto; 
    max-width: 400px; 
    margin-top: 100px;;
  }
  
  .username-label {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  