.start-page {
    text-align: center;
    padding: 200px;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    color: #61dafb;
  }
  
  .username-form {
    margin-top: 20px;
  }
  
  .username-label {
    margin-right: 10px;
  }
  
  .username-input {
    margin-right: 10px;
    font-size: 1.2rem;
    padding: 10px;
  }
  
  .submit-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .submit-button:hover {
    background-color: #21a1f1;
  }
  