@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&display=swap');
:root {
  --primary-bg-color: #050413;
  --secondary-bg-color: #287f8f;
  --accent-color: rgb(121, 252, 254);
  --button-bg-color: #61dafb;
  --button-bg-hover-color: #21a1f1;
  --font-family-default: 'Kodchasan', sans-serif;
  --font-family-accent: 'Kodchasan', sans-serif;
  --font-color: var(--accent-color);
  --panel-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

html {
  zoom: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: auto;
  font-family: 'Kodchasan', sans-serif;
}

.start-page {
  min-height: 100vh;
  text-align: center;
  padding: 0;
  background-color: #000000;
  color: rgb(121, 252, 254);
  font-family: 'Kodchasan', sans-serif;
  background-size: cover;
  background-position: top left; 
  background-repeat: no-repeat;
  position: relative;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center; 
  justify-content: center;
  overflow: hidden; 
  zoom: 100%;
}

.App {
  background: linear-gradient(to top left, rgba(14, 22, 45, 0.969) 10%, rgb(10, 18, 31) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-family-accent);
}

.username-label  {
  font-size: 2.2rem;
  color: var(--font-color);
  margin-bottom: 50px;
}

.login-form-header, .create-account-form-header {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.flex-fantasy-image {
  position: fixed;
  margin-left:100px;
  width: 100%;
  height: calc(100%); 
  overflow: hidden;
  background-image: url('./flex-fantasy.jpg');
  background-size: contain; 
  background-position: center;
  background-attachment: fixed;
}
.username-input:focus, .sleeper-username-input:focus, .email-input:focus, .password-input:focus {
  outline: none;
  border-color: var(--accent-color);
  background: rgba(255, 255, 255, 0.3);
}

.username-input {
  margin-right: 10px;
  font-size: 1.2rem;
  padding: 10px;
}

.username-input, .password-input, .email-input, .sleeper-username-input, input {
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: var(--font-color);
}

.username-form, .login-form, .account-creation-form {
  position: absolute;
  padding: 20px;
  background: rgba(6, 25, 48, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--panel-shadow);
  width: auto; 
  max-width: 400px; 
}

.account-creation-form-header {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.username-form {
  bottom: 70%; 
  left: 50%; 
  transform: translateX(-50%);
}

.login-form {
  top: 9%; 
  right: 16%; 
  transform: translateX(50%);
}

.account-creation-form {
  top: 30%; 
  left: 22%; 
  transform: translate(-50%, -50%);
}

.submit-button, .create-account-button, .login-button, button {
  background-color: var(--button-bg-color);
  color: #000000;
  border: none;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;
  margin-top: 10px;
  font: 1em 'Kodchasan';
  cursor: pointer;
  width: 70%; 
  margin-left: 15%;
}

.submit-button:hover {
  background-color: #21a1f1;
}

.left-panel {
  order: 1;
  position: fixed;
  top: 0;
  width: 180px; 
  height: 100%;
  background-color: #091221;
  padding: 1em;
  box-shadow: var(--panel-shadow);
  display: flexbox;
}


.left-panel-header {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.table-container {
  text-align: left; 
}

.Table {
  margin: auto;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 2em;
  font-weight: bold;
  color: #29d;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  animation: pulse 1s infinite ease-in-out;
}

.search-bar-container {
  order: 0;
  width: 100%;
  position: absolute;
  height: 7%;
  top: 0;
  left: 120px;
  background: rgba(0, 0, 0, 0.0);
  padding: 10px;
}

.search-input {
  width: 100%;
  height: 95%;
  padding: 10px;
  margin-right: 250px;
  opacity: 0.5;
  font-size: medium;
}

.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
}

.sleeper-button {
  background-color: #8286cd;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem; 
  font-size: 1rem; 
  font-family: 'Nunito', sans-serif; 
  border-radius: 30px; 
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  display: block;
  margin: 0.2rem auto; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.sleeper-button:hover {
  background-color: var(--button-bg-hover-color);
}
