@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

.owner-header {
  font-weight: bold;
  color: #4D9FEC; 
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #4D9FEC; 
  border-radius: 25px;
  background-color: #1B2A41; 
  margin-left: 200px;
}

  .page-container {
    width: 100%;
    min-height: 100vh;
    max-width: 1600px; 
    padding: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    background-color: #162024; 
    margin-bottom: 400px;
    padding-bottom: 300px; 
  }

  .App-header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; 
  }

.left-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #112240;
    padding: 1em;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}
  
.username-header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #1d3861;
  color: #29d;
  font-size: 1.5em;
  margin: 10px;
  border-radius: 5px;
}

.UserLeagues {
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    zoom: 100%;
  }
  
  
  button {
    background-color: #4D9FEC;
    color: #0A192F;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
}
  
button:hover {
  background-color: #2577A9;
}

  .TablesContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 300px;
  }
  
  .Table1Container {
    margin-right: 100px; 
  }
  .Table2Container {
    margin-right: 200px; 
  }

th, td {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #4D9FEC;
    }
    to {
      text-shadow: 0 0 20px #4DDB6E;
    }
  }
  
  .glow {
    animation: glow 1s infinite alternate;
  }
