/* UserLeagues.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

.owner-header {
  font-weight: bold;
  color: #4D9FEC; 
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1.5rem;
  border: 2px solid #4D9FEC; 
  border-radius: 25px;
  background-color: #1B2A41; 
  margin-left: 250px;
}

.App {
  background: linear-gradient(to top left, rgba(24, 45, 103, 0.969) 50%, rgb(12, 31, 59) 100%); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Orbitron', sans-serif;
}

  .page-container {
    width: 100%;
    min-height: 100vh;
    max-width: 1600px; 
    padding: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    background-color: #162024; 
    margin-bottom: 400px;
    padding-bottom: 300px; 
  }

  .App-header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; 
  }

.left-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #112240;
    padding: 1em;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}
  
.username-header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #1d3861;
  color: #29d;
  font-size: 1.5em;
  margin: 10px;
  border-radius: 5px;
}

.UserLeagues {
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    zoom: 75%;
  }
  
  
  .TableWrapper {
    overflow-x: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
}

  
  .Table {
    width: 100%;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: #3a7099; 
    table-layout: auto;
    margin: 0 auto; 
    opacity: 1.5;
    transition: all 0.7s ease;
    white-space: nowrap;
    scroll-behavior: smooth;
    display: table;
    text-align: left;
    line-height: 20px;
    margin: 10px; 
    max-width: 45%; 
    flex: 1 1 auto; 
  }   

  
  th, td {
    padding: 12px 15px;
    border: 1px solid #1d2e3e;
    text-align: left;
    overflow: hidden;
    font-size: 1.0em; 
    text-overflow: ellipsis;
    font-weight: bold; 
    white-space: nowrap; 
  }
  
  th {
    background-color: #29497a;
    color: #E3E3E3;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  td {
    color: 222; 
    background-color: #ffffff2d;
  }
  
  tr:nth-child(even) {
    background-color: #e5f6f8;
  }
  
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  button {
    background-color: #4D9FEC;
    color: #0A192F;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
}
  
button:hover {
  background-color: #2577A9;
}


  .TablesContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
  }
  
  .Table1Container {
    margin-right: 100px; 
  }
  .Table2Container {
    margin-right: 0px; 
  }

th, td {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}


  @keyframes glow {
    from {
      text-shadow: 0 0 10px #4D9FEC;
    }
    to {
      text-shadow: 0 0 20px #4DDB6E;
    }
  }
  
.header-title {
  font-size: 4em; 
  border-radius: 5px;
  font-weight: bold;
  color: #3ec9d5;
  width: 100%;
  text-align: center;
  background: linear-gradient(45deg, #163857, #e8e8e8);
  -webkit-background-clip: text;
  background-clip: text;
  color: #E3E3E3;
  animation: glow 1s ease-in-out infinite alternate;
  padding-top: 50px;
}
  
.headers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

